<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Github Search</a>
    </div>
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link" routerLinkActive='active' href="./profile.component.html">
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item nav-link active" routerLink="/about" routerLinkActive='active'>About
      </li>
    </ul>




  </div>
</nav>
<br>


<app-git-search (searchEmitter)='findGitUser($event)'></app-git-search><br><br>
 <div class="container" *ngFor='let user of user'>
    <div class="card" style="width:400px">
    <h4 class="card-title" style="text-align:center"><strong> PROFILE</strong></h4>
      <img class="card-img-top" src="{{ user.avatar_url }}" class="rounded-circle" alt="Card image" style="width:100%">
      <div class="card-body">
        
        
          <p class="card-text" *ngIf="user.location"><b>Name:</b>{{ user.name}}</p> 
          <p class="card-text"><b>Username:</b>{{ user.login }}</p> 
          <p class="card-text" ><b>Live in:</b>{{ user.location }}</p> 
          <p class="card-text" ><b>Bio:</b>{{ user.bio }}</p> 
          <p class="card-text"><b>Number:</b>{{ user.public_repos }}</p>  
        <a href="{{user.html_url}}" class="btn btn-primary">View user profile in github</a>
      </div>
    </div>
    <br> 

    <div class="pit"><b><u>Repos</u></b></div>
<div *ngFor='let repo of repo'>
  <div class="dav" appHighlight>
  <div class="cola"><div class="card"> <p>{{repo.name}}</p></div></div>
  <p>{{repo.description}}</p>
<p>{{repo.language}}</p>
<p>CREATED ON :{{repo.created_at|dateAgo}}</p>

 
 </div>
 </div></div>

  
